*{
    margin:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /* remove blue background when onclik  */
    -webkit-tap-highlight-color: transparent;
    font-family: "Noto Sans KR", sans-serif;
}

.body{
    max-width:100%;
    max-height: 100%;
    font-family: "Noto Sans KR", sans-serif;
}

.intro{
    position: absolute;
    margin: 12.972973vh auto 0 auto;
    text-align: center;
    left:0;
    right:0;
    transition:all 0.1s ease;
}
.intro >div {
    margin-top: 3.243243vh;
    font-size:1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #382827;
}
.picture_div{
    position: absolute;
    z-index:1;
    width:100%;
    margin-top:5vh;
}
.illust-intro{
    /* margin-top:5.7567568vh; */
    width:100%;
    height: auto;
}
a{
    text-decoration: none;
    position: relative;
}
.bottom{
    position: absolute;
    background-color: #efede4;
    height: 36.7vh;
    width:100vw;
    margin-top:68.4vh;
}
.start{
    margin: -2% auto 0 auto;
    /* width:77.8vw;
    height:6.756756vh; */
    width: 77.77777777vw; 
    height: 50px;
    background-color:#382827;
    border-radius:28px;
    color:white;
    text-align:center;
    padding-top:1.9vh;
}

/* Input1 */
.background{
    position: absolute;
    width:100vw;
    height: 70vh;
    margin-top: 17rem;
    background: url('../images/background.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     overflow: hidden;
    z-index: -11;
}

a:link{
    text-decoration: none;
}
.num { 
    font-family: 'Montserrat', sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    margin-top:3.78378378vh;
    text-align: center; 
}
.exit{
    position: absolute;
}
.exit img{
    width: 6.3888vw;
    height: 3.108vh;
    /* width:1.4375rem;
    height:1.4375rem; */
    margin-left:1.5rem;
    object-fit: contain;
}
.dots{
    width:1.125rem;
    height:1.125rem;
    font-size:1.62162vh;
    display: inline-block;
    text-align: center;
    margin:0 0.1rem;
    background:#EFEDE4;
    color:white;
    border-radius: 50%;
    padding-top:0.15rem;
    font-weight: bold;
}
.info{
    margin-top:8.3783vh;;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;
    color: #382827;
}

.illust_region {
    margin:9.729vh auto 0 auto;
    width: 74.166667vw;
    display: block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.dropdown {
    margin: 18% auto;
    /* height: 65.945%; */
    height: 64%;
    width:86.66%;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 #9b9b9b;
    background-color: white;
}

.dropbtn {
    height:2.75rem;
    width: 66.6666vw;
    background-color: white;
    border: 0.5px solid #c6c6c6;
    border-radius: 6px;
    font-size: 1.125rem; 
    text-align: left;
    padding-left:0.75rem;
    margin-top:6.756vh;
    cursor: pointer;
    color:#c6c6c6;
    letter-spacing: -1.1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.dropdown-content {
    text-align: center;
    width:100%;
    height: 83.61%;
    z-index: 1;
    
}
.sido{
    height:11%;
    padding:12px 0px;
    margin-bottom: 0.5rem;
}
.sido div {
    display:inline-block;
    width:50%;
    height:2rem;
    margin-top:1.639%;
    font-size:16px;
    letter-spacing: -0.8px;
    color: #9b9b9b;
}
.big_regions, .small_regions > div{
    float:left;
    text-align: center;
    width:50%;
    height: 43vh;
    overflow: auto;
    overflow-x: hidden;
}
.big_regions div, .small_regions > div div {
    width: 100%;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 12px 0px;
    text-decoration: none;
    font-weight: normal;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* 지역선택 modal 안 warning */
.inside_warning{
    
    text-align: center;
    color:#382827;
}
/* 지역선택 확인 버튼 */
.confirm_1{
    margin:-3px auto 0 auto;
    text-align: center;
    width: 77.77vw;
    height: 50px;
    padding:14px;
    background-color: #dedbd3;
    border-radius: 24px;
    color:#ffffff;
    font-weight: 500;
    letter-spacing: -0.8px;
}

/* 지역을 선택해주세요 문구 */
p.warning{
    position: absolute;
    margin:2% auto 0 auto;
    left:0;
    right:0;
    display: none;
    color: #ff8f71;
    font-size: 0.75rem;
}
/* 다음페이지 버튼 */
.next{
    margin: 15.945vh auto 0 auto;
    width: 77.77vw;
    height: 50px;
    background-color: #dedbd3;
    border-radius:28px;
    font-size:1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    padding-top: 1rem ;
    letter-spacing: -1px;
    text-align: center;
    display: block;
    color:white;
    
}

/* Input1 끝 */

/* Input 2 */

.illust_children {
    width:50.83333vw;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.components{
    /* margin-top:-0.9rem; */
    /* margin-left: 3.25rem;
    margin-right: 3.25rem; */
    margin:-0.9rem auto 0 auto;
    width: 66.6666vw;
}
.children_num {
    height:48px;
    background-color: white;
    color: rgb(141, 140, 140);
    border: 1.5px solid #e7e7e7;
    border-radius: 8px;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    width:60vw;
}
.children_birth, .children_birth_disable{
    display: table;
    margin-bottom: 0.4375rem;
    width:100%;
    height:2.75rem;
    border-radius: 6px;
    
}
.children_birth{
    background-color: #ffffff;
    border:0.5px solid #c6c6c6;
}
.children_birth_disable{
    background-color:#f7f6f1; 
    border:0.5px solid #dddddd;
}
.children_birth > span, .children_birth_disable > span{
    display:table-cell;
    position: relative;
    vertical-align: middle;
    width:21.4%;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #c6c6c6;
    text-align:left;
    padding-left: 0.75rem;
}
/* 가운데 줄 */
.children_birth >span:after, .children_birth_disable >span:after {
    content: '';
    top: 34.0909%;
    height: 31.8181%;  /* 길이 */
    width: 1px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    background-color: #c6c6c6; 
  }
.birth{
    display: table-cell;
    vertical-align:middle;
    margin-right: 0;
    text-align: left;
    padding-left: 0.875rem;
    color: #c6c6c6;
    background-color: white;
    border:none;
    width:95%;
    height:90%;
    margin-top:1px;
    font-size:1rem;
    letter-spacing: -1.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}
.birth_disable {
    display: table-cell;
    vertical-align:middle;
    margin-right: 0;
    text-align: left;
    padding-left: 0.875rem;
    color: #c6c6c6;
    font-size:1rem;
    letter-spacing: -1.2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.complete{
    display: table;
    width: 77.77777777vw; /*17.5rem;*/
    height: 50px;
    margin: 9.054% auto 0 auto;
    border:none;
    border-radius: 1.75rem;
    background-color: #dedbd3;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 23.3% auto 33.7% auto;
    border: 1px solid #888;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 #9b9b9b;
    height: 22rem;
    width: 86.66%;
}
.year_month{
    display:table;
    width: 100%;
    height: 2rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}
.year_month div {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    height:2rem;
    font-size:1rem;
    letter-spacing: -0.8px;
    color: #9b9b9b;
    font-weight: 500;
}
.year_month div:first-child{
    width:32.69%;
}
.year_month div:nth-child(2){
    width:67.31%
}
.years{
    width:32.69%; 
    height: 13.4rem;
    text-align: center;
    float: left;
    overflow: auto; 
}
.years > div{
    height:80%; 
    width: 100%; 
    display: inline-block;
}

/* class year */
.years > div div{
    width: 100%;
    height:3rem; 
    padding-top:0.7rem;
    font-size: 1.25rem;
    letter-spacing: -1px;
}

.birth-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height:12rem;
  }

.month-grid-item{
    text-align: center;
    font-size:1.25rem;
    padding-top:0.7rem;
}

/* 탄생년월 선택 확인 버튼 */
.confirm_2{
    margin-bottom: 0;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width:17.5rem; */
    width: 77.77777777vw;
    height: 50px;
    padding:14px;
    color:#ffffff;
    letter-spacing: -0.8px;
    font-weight: 500;
    background-color: #dedbd3;
    border-radius:1.5rem;
}


/* Modal 끝 */


/* select customizing 커스터마이징 */
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    text-align: left;
    border: 0.5px solid #c6c6c6;
    border-radius: 6px;
    margin-top:0.5rem;
    margin-bottom:1.625rem;
    height:2.75rem;
    background-color: #ffffff;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
   /* style the arrow inside the select element: */
  .select-selected {
    background: url('../images/arrow-simple-down.svg') no-repeat 95% 55%;
  }
  .select-selected.active{
    background: url('../images/arrow-simple-up.svg') no-repeat 95% 55%;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 1.3rem;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #c6c6c6;
    padding: 0.6rem 0.75rem;
    border: 0.5px solid transparent;
    cursor: pointer;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    border-radius:6px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 98;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
    .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-height: 700px){
    .complete{
        margin: 20.054% auto 0 auto;
        }
} 
/* Input 2 끝 */
@media screen and (min-height: 700px){
    .picture_div{
        position: absolute;
        z-index:1;
        width:100%;
        margin-top: 11vh;
    }
} 
