html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing :border-box;
}



.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 0.3%;
    background-color: gainsboro;
    
    
}
.container2{
  
  display:grid;
  grid-template-columns: 1fr 8fr;

    grid-gap : 0.2rem;
    background-color: gainsboro;
    
}
.item:hover {
  opacity: 0.7;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.category2:hover{
    opacity: 0.7;


}
.line{
    padding: 0.5%;
    background-color: gainsboro;
}
.item {
  
    font-size: 1em;

    background-color : white;



}

.item2 {
    Padding : 1%;

   

    background-color : white;
}
.image{
    width : 60%;
    height: 60%;
    display: block;
    margin : auto;
    padding : 5%;
   
}

.category{
    color: dimgrey;
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1%;
}



.item:nth-child(1){
    grid-column:1/4;
}
.item2:nth-child(1){
    grid-column:1/3;
}
.item2:nth-child(22){
    grid-column:1/3;
}
.title{
   color : ivory;
    background-color : rgb(236, 115, 115);
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;

}
.smalltitle{
    color : ivory;
    background-color : rgb(236, 115, 115);
     text-align: center;
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
     font-size: 4em;
 
 }

.footer{
    text-align:right;
    font-size: 2em;
    font-weight: bold;
}
.number2{
    color:  rgb(90, 76, 76);
    background-color:whitesmoke;
    font-weight: 500;
    font-size : 2em;
    text-align: center;
    vertical-align: center;
}

.category2{
    color:  rgb(90, 76, 76);
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.8em;
    text-align:center;
}

#background{
    margin-top: 10%;
  width: 100%;
}

  