html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing :border-box;
}
.item:nth-child(1){
    grid-column:1/3;
}
.title{
    padding: 5%;
 }
.item {
  
    font-size: 1em;

    background-color : white;

}




.image{
    width : 60%;
    height: 60%;
    display: block;
    margin : auto;
    padding : 5%;
   
}
.item:hover {
    opacity: 0.7;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
  }

.container{

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap : 0.3%;
    background-color: gainsboro;
    
    
}

  
  
  
    
  